.header__lang-links{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 18px;
}



@media screen and (max-width: 767px) {
  .header__lang-links{
    margin: 14px 0 8px 0;
  }
}